/* Base of page 
--------------------------------------- */
#home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--WHITE);
    color: var(--BLACK);
    margin: 0;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    bottom: -1;
    min-height: 100%;
    width: 100%;
    margin-top: 65vh;
}


/* Page Sections
--------------------------------------- */
.all-sections {
    width: 80%;
    margin-top: 2%;
    margin-bottom: 1%;
    border-radius: 20px;

    /* Shadow box from: https://getcssscan.com/css-box-shadow-examples, box #6 */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
}

.all-sections a:link, a:visited{
    color: var(--PURPLE);
    background-color: var(--WHITE);
    text-decoration: none;
}

.all-sections a:hover, a:active{
    color: var(--WHITE);
    background-color: var(--PURPLE);
    text-decoration: none;
}

::selection{
    background-color: var(--PURPLE);
    color: var(--WHITE);
}

.section-container{
    margin: 30px 30px;
}

.svg-icons, .svg-icons:hover, .svg-icons:link, .svg-icons:visited, .svg-icons:active{
    background: none !important;
    text-decoration: none;
}

li {
    /* Base */
    list-style: none;
    position: relative;
}

li:before{
    content: '›'; 
    font-size: 25px;
    font-weight: 900;
    margin-left: -20px;
    margin-right: 10px;
    color: var(--PURPLE)
}

svg:hover {
    fill: var(--BLACK);
}

svg{
    fill: var(--PURPLE);
}

@media (max-width: 450px){
    .all-sections {
        width: 100%;
        margin-top: 2%;
        margin-bottom: 1%;
        border-radius: 0px;
    
        /* Shadow box from: https://getcssscan.com/css-box-shadow-examples, box #6 */
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        
    }
}