/* GLOBALS
--------------------------------------- */
:root{
    --BLACK: #000000;
    --WHITE: #FFFFFF;
    --GRAY: #d3d3d3;
    --PURPLE: #ad78bf;
}

/* Base Configs
--------------------------------------- */
html, body, #root, noscript {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border-width: 0;
    z-index: -1;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}