:root{
    --greeting-font-size: 2.5rem;
}

.cover-sheet{
    position: fixed;
    background-color: var(--WHITE);
    min-height: 100%;
    min-width: 100%;
    z-index: 1000;
}


.cover-page{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100vh;
    z-index: 1001;
    font-size: var(--greeting-font-size);
    float: none;
    width: 100%;
}

.greeting-wrapper{
    max-width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

.cover-page u {
    text-decoration: none;
    border-bottom: 5px solid var(--PURPLE);
}

/* .greeting-text{
    
} */

.greeting-cursor{
    font-size: calc(var(--greeting-font-size) + 7px);
    color: var(--PURPLE);
}